@font-face {
  font-family: "ClashGrotesk-Regular";
  src: url("../fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
