.footer {
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: center;
  align-items: center;
  padding: 96px 0;
  max-width: 1440px;
  width: 95%;
  margin: 0 auto;

  @media screen and (max-width: 875px) {
    padding: 46px 0 36px 0;
  }
  &-top {
    display: flex;
    align-items: center;
    gap: 74px;

    color: $white;
    font-size: 64px;

    @media screen and (max-width: 875px) {
      width: 70%;
      flex-shrink: 0;
      gap: 32px;
      font-size: 48px;
      justify-content: center;

      > svg {
        width: 60px;
        height: 60px;
        flex-shrink: 0;
      }
    }
    @media screen and (max-width: 381px) {
      gap: 16px;
    }
  }
  &-center {
    display: flex;
    gap: 32px;
    width: 488px;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (max-width: 556px) {
      width: 90%;
    }
    > li {
      list-style: none;
      > a {
        font-family: $gs-medium;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        color: $white;

        @media screen and (max-width: 875px) {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
  &-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 427px) {
      flex-direction: column;
    }
    &__left {
      display: flex;
      gap: 16px;
      align-items: center;
      > a {
        text-decoration: none;
        padding: 5.33px;
        > svg {
          max-width: 21px;
          max-height: 21px;
          min-width: 21px;
          min-height: 21px;
          @media screen and (max-width: 875px) {
            max-width: 16px;
            max-height: 16px;
            min-width: 16px;
            min-height: 16p16;
          }
        }
      }
    }
    &__right {
      font-family: $gs-medium;
      text-decoration: none;
      font-size: 16px;
      line-height: 24px;
      color: $white;
      @media screen and (max-width: 875px) {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
}
