.footer {
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: center;
  align-items: center;
  padding: 96px 0;
  max-width: 1440px;
  width: 95%;
  margin: 0 auto;
  &-top {
    display: flex;
    align-items: center;
    gap: 74px;

    color: $white;
    font-size: 64px;
  }
  &-center {
    display: flex;
    gap: 32px;
    width: 488px;
    justify-content: center;
    flex-wrap: wrap;
    > li {
      list-style: none;
      > a {
        font-family: $gs-medium;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        color: $white;
      }
    }
  }
  &-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left {
      display: flex;
      gap: 16px;
      align-items: center;
      > a {
        text-decoration: none;
        padding: 5.33px;
        > svg {
          max-width: 21px;
          max-height: 21px;
          min-width: 21px;
          min-height: 21px;
        }
      }
    }
    &__right {
      font-family: $gs-medium;
      text-decoration: none;
      font-size: 16px;
      line-height: 24px;
      color: $white;
    }
  }
}
