@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//Clash-Grotesk font
@font-face {
  font-family: "ClashGrotesk-Extralight";
  src: url("./assets/fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Extralight.woff2")
      format("woff2"),
    url("./assets/fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Extralight.woff")
      format("woff"),
    url("./assets/fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Extralight.ttf")
      format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashGrotesk-Light";
  src: url("./assets/fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashGrotesk-Regular";
  src: url("./assets/fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashGrotesk-Medium";
  src: url("./assets/fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashGrotesk-Semibold";
  src: url("./assets/fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Semibold.ttf")
    format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashGrotesk-Bold";
  src: url("./assets/fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

//General Sans font

@font-face {
  font-family: "GeneralSans-Extralight";
  src: url("./assets/fonts/GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-Extralight.ttf")
    format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans-ExtralightItalic";
  src: url("./assets/fonts/GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-ExtralightItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans-Light";
  src: url("./assets/fonts/GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans-LightItalic";
  src: url("./assets/fonts/GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans-Regular";
  src: url("./assets/fonts/GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans-Italic";
  src: url("./assets/fonts/GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans-Medium";
  src: url("./assets/fonts/GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans-MediumItalic";
  src: url("./assets/fonts/GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans-Semibold";
  src: url("./assets/fonts/GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-Semibold.ttf")
    format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans-SemiboldItalic";
  src: url("./assets/fonts/GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-SemiboldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans-Bold";
  src: url("./assets/fonts/GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans-BoldItalic";
  src: url("./assets/fonts/GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $cg-regular, sans-serif;
}

:root {
  --primary: #1d4aa6;
  --green-1: #3d6168;
  --green-2: #d0dedb;
  --blue-1: #050505;
  /* --blue-1: #5f93c0; */
}

::-webkit-scrollbar {
  width: 4px;
  background: var(--green-2);
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: #23425c;
  border-radius: 5px;
  cursor: pointer;
}

body {
  background-color: #050505;
}
